p {
  color: black;  
  background-color: palevioletred;
  font-size: 50px;
  
}

/*Classe*/
.classe1 {
  background: blue;
}

/*Id*/
#idUm {
  background: orange;
}
#idDois {
  background: yellow;
}
#idTres {
  background: lightblue;
}
#idQuatro {
  background: lightgreen;
}

#hex {
  background-color: #2123FF;
  color: #FFF;
}

#rgb {
  background-color: rgb(200, 0, 230);
  /*opacity: ; */
}

#rgba {
  background-color: rgba(200, 100, 50, 0.5);
}



